<html>
<head>
	<title>Threat-O-Pedia</title>
	<style type="text/css">
		#h1{font-size: 100px; color: red; text-align: center; margin-top: 10%;}
		#para{font-size: 30px; color: grey; text-align: center}
	</style>
</head>
<body id="body">
	<a href="home" style="text-align: left; padding-right: 15px; color: grey">Home</a>
	<a href="home" style="text-align: left; padding-left: 15px; padding-right: 15px; color: grey">How Threat-O-Pedia Works</a>
	<a href="home" style="text-align: left; padding-left: 15px; padding-right: 15px; color: grey">About US</a>
	<h1 id="h1">ERROR !!!</h1>
	<p id="para">Looks like you searched for something which we haven't encountered yet.</p>
	<p id="para">We are continuoulsy updating our database. Please <a href="home">search</a> again later.</p> 
</body>
</html>