<html>
<head>
	<title>Threat-O-Pedia</title>
	<style type="text/css">
		#h1{font-size: 100px; color: red; text-align: center; margin-top: 10%;}
		#para{font-size: 30px; color: grey; text-align: center}
	</style>
</head>
<body id="body">
	<a href="home" style="text-align: left; padding-right: 15px; color: grey">Home</a>
	<a href="htw" style="text-align: left; padding-left: 15px; padding-right: 15px; color: grey">How Threat-O-Pedia Works</a>
	<p id="para">Designed & Developed by:</p>
	<p id="para">Harshal Sawant</p>
	<p id="para">MSC Computer Sciencec II</p>
	<p id="para">Kirti College, Dadar</p>
	<p id="para">If you have any queries or suggestion you can mail me at:</p>
    <p id="para">harshalsawant5678@gmail.com</p>
</body>
</html>