<html>
<head>
	<title>Threat-O-Pedia</title>
	<style type="text/css">
		#h1{font-size: 100px; color: red; text-align: center; margin-top: 10%;}
		#para{font-size: 30px; color: grey; text-align: left; margin-top: 5%;}
	</style>
</head>
<body id="body">
	<a href="home" style="text-align: left; padding-right: 15px; color: grey">Home</a>
	<a href="about_us" style="text-align: left; padding-left: 15px; padding-right: 15px; color: grey">About US</a>
	<p id="para">Threat-O-Pedia combines API of various threat intelligence tools to give you a consolidated threat report about your search. </p>
	<p id="para">Threat-O-Pedia is built upon Django framework and utilises benefits of cloud so that its users get best experience.</p>
	<p id="para">We are continuoulsy updating our database and API integrations.</p>
	<footer style="margin-top: 18%; text-align: center; color: grey;">Our API partners: VirusTotal, AbuseIPDB</footer>
</body>
</html>